@main("Betterrev Help", false, false, true, false, false) {

<h2>I need help from a real Human!</h2>
<p>
    <a href="/contactus/"><img src="@routes.Assets.at("images/Icon_Arrow_60x60px.png")" alt="Contact Us"/> Contact Details</a>
</p>

<h2>How do I start?</h2>
<p>
    If you're new to Betterrev then you'll want to do the following:
</p>
<ol>
    <li>Create a <a href="https://bitbucket.org/" target="_blank">BitBucket</a> account</li>
    <li>Join the <a href="https://bitbucket.org/adoptopenjdk/" target="_blank">Adopt OpenJDK BitBucket Organisation</a>
    </li>
    <li>Fork all the JDK repositories
        <ul>
            <li><a href="https://bitbucket.org/adoptopenjdk/jdk8" target="_blank">jdk8</a></li>
            <li><a href="https://bitbucket.org/adoptopenjdk/jdk8-corba" target="_blank">corba</a></li>
            <li><a href="https://bitbucket.org/adoptopenjdk/jdk8-jaxp" target="_blank">jaxp</a></li>
            <li><a href="https://bitbucket.org/adoptopenjdk/jdk8-jaxws" target="_blank">jaxws</a></li>
            <li><a href="https://bitbucket.org/adoptopenjdk/jdk8-langtools" target="_blank">langtools</a></li>
            <li><a href="https://bitbucket.org/adoptopenjdk/jdk8-jdk" target="_blank">jdk</a></li>
            <li><a href="https://bitbucket.org/adoptopenjdk/jdk8-hotspot" target="_blank">hotspot</a></li>
            <li><a href="https://bitbucket.org/adoptopenjdk/jdk8-nashorn" target="_blank">nashorn</a></li>
        </ul>
    </li>
    <li>Clone the adopt repo and really get started!

        <!-- Please don't edit the whitespace in the <pre>, since it alters the output -->
<pre>
hg clone ssh://hg@@bitbucket.org/adoptopenjdk/adopt
cd adopt
./start.sh your-bitbucket-username
</pre>
        You should see something that looks like:
        <p class="console-output">
            richardwarburton@@machine:openjdk$ hg clone ssh://hg@@bitbucket.org/adoptopenjdk/adopt <br/>
            destination directory: adopt <br/>
            requesting all changes <br/>
            <br/>
            ...<br/>
            <br/>
            jdk: 21818 files updated, 0 files merged, 0 files removed, 0 files unresolved <br/>
            marked working directory as branch richardwarburton <br/>
        </p>

        <p>
            The above commands should have created a branch (branch name is same your Bitbucket username). <br/>
            If you wish to create your own branch, please use the command hg branch YOURBRANCHNAME.
        </p>
    </li>
</ol>


<h2>What is Betterrev all about?</h2>
<p>
    Betterrev is a website and workflow to help improve the velocity and quality
    of patches going into <a href="http://openjdk.java.net" target="_blank">OpenJDK</a>.
    It does this by:
</p>
<ol>
    <li>
        Providing up to date clones of OpenJDK forests in <a href="https://bitbucket.org/" target="_blank">BitBucket</a>
    </li>
    <li>Allowing a Pull Request model for submitting patches</li>
    <li>Providing a trackable workflow for a submitted patch (via this website)</li>
    <li>Automatically generating a Webrev for a given patch</li>
    <li>Automatically building the patch and running jtreg tests on major platforms (Continuous Integration)</li>
    <li>Automated requests for sponsors in the correct OpenJDK mailing lists for a patch</li>
</ol>


<h2>What's the behind the scenes workflow?</h2>
<p>We simplify things as much as possible for the end user, but for those who are curious</p>
<p>
    A typical workflow works as follows (you will be notified at each stage):
</p>
<ol>
    <li><strong>Betterrev</strong> keeps up to date copies of OpenJDK repos in BitBucket</li>
    <li><strong>You</strong> fork the appropriate <a href="https://bitbucket.org/adoptopenjdk/" target="_blank">OpenJDK repo(s)</a> from BitBucket
    </li>
    <li><strong>You</strong> submit a Pull Request for your patch via BitBucket</li>
    <li><strong>Betterrev</strong> will create what's known as a Contribution</li>
    <li><strong>Betterrev</strong> will build your Contribution on a Build Farm (TODO)</li>
    <li><strong>Betterrev</strong> will run the JTReg regression test suite over your Contribution (TODO)</li>
    <li><strong>Betterrev</strong> will generate a Webrev for you</li>
    <li><strong>Betterrev</strong> will discover which mailing lists you need to send the Webrev to</li>
    <li><strong>You</strong> can then send a message (through the BetterRev site) to the mailing lists.</li>
    <li>
        <strong>You</strong> will need to follow up on comments from those mailing lists and update your
        BitBucket Pull Request accordingly.
    </li>
    <li><strong>Betterrev</strong> will automatically update the Contribution based on your changes and the cycle begins again</li>
    <li>When your Webrev is accepted, it will be committed through the normal OpenJDK channels</li>
    <li><strong>Betterrev</strong> will archive your Contribution (and BitBucket Pull Request)</li>
</ol>


<h2>Why is it called Betterrev?</h2>
<p>
    The official way to submit a patch to OpenJDK is through a tool called Webrev.
    Webrev is a barrier for some contributors as it is only supported on some
    operating systems and requires you to host a static web site for your patch.<br/>
    <br/>
    So we decided to create a workflow called Betterrev to remove this barrier!
</p>


}
